<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/landing.css">
<div id="landing">
    <h4>Welcome! Please log in to continue.</h4>
    <button> <a href="/login">Log In</a> </button>
</div>
<% include ./partials/footer %>